<a href="https://colab.research.google.com/github/yunhanjin001/2026_gemini/blob/main/code/factor_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import yfinance as yf

In [28]:
data_path='E:\\CodeSpace\\2026_gemini\\data'

In [ ]:
period = "60d"
interval = "5m"   
tech_stocks = ["AAPL", "MSFT", "NVDA", "META", "GOOGL", "AMZN"]

gold = yf.download("GC=F", period=period, interval=interval)
gold['asset'] = 'GOLD'
tech_data = []
for ticker in tech_stocks:
    df = yf.download(ticker, period=period, interval=interval)
    df['asset'] = ticker
    tech_data.append(df)

tech = pd.concat(tech_data)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [31]:
#also access sp500, and other index through yfinance
tech_indexes=["^GSPC", "^DJI", "^IXIC"]
for ticker in tech_indexes:
    df = yf.download(ticker, period=period, interval=interval)
    df['asset'] = ticker
    tech_data.append(df)

tech_idx=pd.concat(tech_data)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [32]:
#get price column close
#contact all close
close=pd.concat([gold['Close'], tech['Close'], tech_idx['Close']])

mo_data_path=f'{data_path}/close_5m_3mo.csv'
close.to_csv(mo_data_path, index=False)

Ticker,GC=F,AAPL,MSFT,NVDA,META,GOOGL,AMZN,^GSPC,^DJI,^IXIC
Datetime,,,,,,,,,,
2025-12-02 05:00:00+00:00,4249.100098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-12-02 05:05:00+00:00,4247.700195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-12-02 05:10:00+00:00,4250.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-12-02 05:15:00+00:00,4252.200195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-12-02 05:20:00+00:00,4254.200195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2026-02-12 20:35:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22625.046875
2026-02-12 20:40:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22614.140625
2026-02-12 20:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22595.562500
2026-02-12 20:50:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22606.849609
2026-02-12 20:55:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22600.853516