<a href="https://colab.research.google.com/github/yunhanjin001/2026_gemini/blob/main/code/factor_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import yfinance as yf

In [2]:
# read factor

Price              Close  rolling_mean  rolling_std
Ticker           BTC-USD
Date
2023-02-12  21788.203125           NaN          NaN
2023-02-13  21808.101562           NaN          NaN
2023-02-14  22220.804688           NaN          NaN
2023-02-15  24307.841797           NaN          NaN
2023-02-16  23623.474609           NaN          NaN
...                  ...           ...          ...
2026-02-08  70264.726562  81166.171680  8546.800380
2026-02-09  70120.781250  80256.665430  8712.717636
2026-02-10  68793.960938  79227.515430  8793.982192
2026-02-11  66991.968750  78103.991211  8852.763032
2026-02-12  65745.765625  76916.085742  8836.535561

[1097 rows x 3 columns]